:root {
  --accent-color: #34547A;

  --text-color: #727272;
  --bg-color: #EEEFF1;
  --second-bg-color: white;

  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.link {
  text-decoration: none;
  color: inherit;
}

.text-content {
  font-size: 1rem;
  color: var(--text-color);
}

.text-content,
.main-heading,
.sub-heading {
  line-height: 1.3;
}

.main-heading,
.sub-heading {
  font-weight: 500;
}

.main-heading {
  font-size: 3rem;
}

.sub-heading {
  font-size: 2rem;
}

.color-override {
  color: inherit;
}

.btn {
  display: block;
  padding: 20px;
  width: 180px;
  border: 0;
  text-transform: uppercase;
  background: var(--accent-color);
  color:var(--second-bg-color);
}

.single-line-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.multiline-overflow-protection {
  --visible-lines: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--visible-lines);
  overflow: hidden;
}

@media screen and (min-width: 576px) {
  :root {
    font-size: 15px;
  }
}

@media screen and (min-width: 992px) {
  :root {
    font-size: 16px;
  }
}
