* {
  box-sizing: border-box;
}

:root {
  --gutter-size: 24px;
}

.container {
  --padding-size: calc(var(--gutter-size) / 2);

  width: 100%;
  margin: 0 auto;

  padding-left: var(--padding-size);
  padding-right: var(--padding-size);
}

.row {
  display: flex;
  flex-wrap: wrap;

  margin-left: calc(var(--padding-size) * -1);
  margin-right: calc(var(--padding-size) * -1);
}

.row > * {
  max-width: var(--width);
  flex-basis: var(--width);
  padding-left: var(--padding-size);
  padding-right: var(--padding-size);
}

/* 
X-Small	None	<576px
Small	sm	≥576px
Medium	md	≥768px
Large	lg	≥992px
Extra large	xl	≥1200px
Extra extra large	xxl	≥1400px
*/

.col-1 {
  --width: calc(100% / 12 * 1);
}

.col-2 {
  --width: calc(100% / 12 * 2);
}

.col-3 {
  --width: calc(100% / 12 * 3);
}

.col-4 {
  --width: calc(100% / 12 * 4);
}

.col-5 {
  --width: calc(100% / 12 * 5);
}

.col-6 {
  --width: calc(100% / 12 * 6);
}

.col-7 {
  --width: calc(100% / 12 * 7);
}

.col-8 {
  --width: calc(100% / 12 * 8);
}

.col-9 {
  --width: calc(100% / 12 * 9);
}

.col-10 {
  --width: calc(100% / 12 * 10);
}

.col-11 {
  --width: calc(100% / 12 * 11);
}

.col-12 {
  --width: calc(100% / 12 * 12);
}

@media screen and (min-width: 576px) {
  .container {
    width: 540px;
  }

  .col-sm-1 {
    --width: calc(100% / 12 * 1);
  }

  .col-sm-2 {
    --width: calc(100% / 12 * 2);
  }

  .col-sm-3 {
    --width: calc(100% / 12 * 3);
  }

  .col-sm-4 {
    --width: calc(100% / 12 * 4);
  }

  .col-sm-5 {
    --width: calc(100% / 12 * 5);
  }

  .col-sm-6 {
    --width: calc(100% / 12 * 6);
  }

  .col-sm-7 {
    --width: calc(100% / 12 * 7);
  }

  .col-sm-8 {
    --width: calc(100% / 12 * 8);
  }

  .col-sm-9 {
    --width: calc(100% / 12 * 9);
  }

  .col-sm-10 {
    --width: calc(100% / 12 * 10);
  }

  .col-sm-11 {
    --width: calc(100% / 12 * 11);
  }

  .col-sm-12 {
    --width: calc(100% / 12 * 12);
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 740px;
  }

  .col-md-1 {
    --width: calc(100% / 12 * 1);
  }

  .col-md-2 {
    --width: calc(100% / 12 * 2);
  }

  .col-md-3 {
    --width: calc(100% / 12 * 3);
  }

  .col-md-4 {
    --width: calc(100% / 12 * 4);
  }

  .col-md-5 {
    --width: calc(100% / 12 * 5);
  }

  .col-md-6 {
    --width: calc(100% / 12 * 6);
  }

  .col-md-7 {
    --width: calc(100% / 12 * 7);
  }

  .col-md-8 {
    --width: calc(100% / 12 * 8);
  }

  .col-md-9 {
    --width: calc(100% / 12 * 9);
  }

  .col-md-10 {
    --width: calc(100% / 12 * 10);
  }

  .col-md-11 {
    --width: calc(100% / 12 * 11);
  }

  .col-md-12 {
    --width: calc(100% / 12 * 12);
  }
}

@media screen and (min-width: 992px) {
  .container {
    width: 940px;
  }

  .col-lg-1 {
    --width: calc(100% / 12 * 1);
  }

  .col-lg-2 {
    --width: calc(100% / 12 * 2);
  }

  .col-lg-3 {
    --width: calc(100% / 12 * 3);
  }

  .col-lg-4 {
    --width: calc(100% / 12 * 4);
  }

  .col-lg-5 {
    --width: calc(100% / 12 * 5);
  }

  .col-lg-6 {
    --width: calc(100% / 12 * 6);
  }

  .col-lg-7 {
    --width: calc(100% / 12 * 7);
  }

  .col-lg-8 {
    --width: calc(100% / 12 * 8);
  }

  .col-lg-9 {
    --width: calc(100% / 12 * 9);
  }

  .col-lg-10 {
    --width: calc(100% / 12 * 10);
  }

  .col-lg-11 {
    --width: calc(100% / 12 * 11);
  }

  .col-lg-12 {
    --width: calc(100% / 12 * 12);
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1130px;
  }

  .col-xl-1 {
    --width: calc(100% / 12 * 1);
  }

  .col-xl-2 {
    --width: calc(100% / 12 * 2);
  }

  .col-xl-3 {
    --width: calc(100% / 12 * 3);
  }

  .col-xl-4 {
    --width: calc(100% / 12 * 4);
  }

  .col-xl-5 {
    --width: calc(100% / 12 * 5);
  }

  .col-xl-6 {
    --width: calc(100% / 12 * 6);
  }

  .col-xl-7 {
    --width: calc(100% / 12 * 7);
  }

  .col-xl-8 {
    --width: calc(100% / 12 * 8);
  }

  .col-xl-9 {
    --width: calc(100% / 12 * 9);
  }

  .col-xl-10 {
    --width: calc(100% / 12 * 10);
  }

  .col-xl-11 {
    --width: calc(100% / 12 * 11);
  }

  .col-xl-12 {
    --width: calc(100% / 12 * 12);
  }
}

@media screen and (min-width: 1400px) {
  .container {
    width: 1320px;
  }

  .col-xxl-1 {
    --width: calc(100% / 12 * 1);
  }

  .col-xxl-2 {
    --width: calc(100% / 12 * 2);
  }

  .col-xxl-3 {
    --width: calc(100% / 12 * 3);
  }

  .col-xxl-4 {
    --width: calc(100% / 12 * 4);
  }

  .col-xxl-5 {
    --width: calc(100% / 12 * 5);
  }

  .col-xxl-6 {
    --width: calc(100% / 12 * 6);
  }

  .col-xxl-7 {
    --width: calc(100% / 12 * 7);
  }

  .col-xxl-8 {
    --width: calc(100% / 12 * 8);
  }

  .col-xxl-9 {
    --width: calc(100% / 12 * 9);
  }

  .col-xxl-10 {
    --width: calc(100% / 12 * 10);
  }

  .col-xxl-11 {
    --width: calc(100% / 12 * 11);
  }

  .col-xxl-12 {
    --width: calc(100% / 12 * 12);
  }
}
