.header {
  padding: 20px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.burger {
  position: relative;

  height: 2px;
  width: 100%;
  border: 1px solid var(--text-color);
}



.nav-list {
  display: none;

  overflow: auto;

  /* margin: auto; */
}



.list-item + .list-item {
  margin-left: 12px;
} 

.nav-link {
  white-space: nowrap;
}